@media screen and (max-width: 1860px) {
  .get-in-touch {
    position: static;
  }
}

@media screen and (max-width: 500px) {
  form button {
    font-size: 1.5rem;
    width: 30%;
  }
}

@media screen and (max-width: 375px) {
  .contact-wrapper {
    margin: 15px 0;
  }
}