$color-main: #2f2f2f;
$color-secondary: #272727;
$off-white: #fdfdfd;

// Highlight colors

$highlight-main: #ffca3a;
$highlight-gallery: #ff595e;
$highlight-about: #1982c4;
$highlight-contact: #8ac926;