@import "./colors";
@import "./mixins/fontface";
@include fontface("Aeonik Bold", "../assets/fonts/aeonik-bold/Aeonik-Bold", "bold");

$font-bold: "Aeonik Bold", sans-serif;

* {
    font-family: $font-bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #app {
    height: 100%;
}

body {
    background: #2f2f2f;
}